body {
    background-image: url( "weblet:url('weblets.demo','/img/header_background.png')" );
    background-repeat: repeat-x;
    background-color: rgb( 255, 240, 240 );
}

.header_bg {
    background-image: url( "weblet:url('weblets.demo','/img/webletslogo.png')" );
    background-repeat: no-repeat;

    position: absolute;
    width: 800px;
    margin-left: 10px;
    margin-right: auto;
    top: 10px;
    height: 60px;
}

.content {
    margin-top: 80px;
    margin-left: 10px;
    height: 100%;
}	