<html>
  <head>
    <title>$title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${outputEncoding}" />
  </head>
  <body>
    <div class="app" >
      $bodyContent
    </div>
  </body>
</html>