<?xml version="1.0"?>

<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <description>Weblets Demo</description>
    <!--
    this context param enables multiple config files
    per resource bundle, default it is turned off because
    only a handful of use cases need more than one weblet-config

    we have it in the demo thoughs
    -->

    <context-param>
        <param-name>net.java.dev.weblets.multipleconfigs</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>net.java.dev.weblets.WebletsContextListener</listener-class>
    </listener>
    <!--
    <context-param>
        <param-name>net.java.dev.weblets.contextpath</param-name>
        <param-value>/weblets-demo/</param-value>
        <description>
             this optional param enables
              weblets to use absolute uris instead of
              relative ones, this bypasses the problem
              of not having application context paths
              available in some environments!

              Note, in most environments this will not be
              needed but in some which resolve
              the context path resolution over the servlet context
              to null you have to enforce this (portlets
              in non jsf environments for instance!)

              This parameter always!!! overrides the local context path,
              if given!

        </description>
    </context-param>


    <filter>
        <filter-name>WebletsContextFilter</filter-name>
        <description>
          A legacy filter for non jee5 systems
          to determine the context cleanly
        </description>
        <filter-class>net.java.dev.weblets.WebletsContextFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>WebletsContextFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WebletsContextFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
    </filter-mapping>
     <filter-mapping>
        <filter-name>WebletsContextFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--
     <servlet>
        <servlet-name>Weblets Servlet</servlet-name>
        <servlet-class>net.java.dev.weblets.WebletsServlet</servlet-class>
      </servlet>

      <servlet-mapping>
        <servlet-name>Weblets Servlet</servlet-name>
        <url-pattern>/weblets/*</url-pattern>
      </servlet-mapping>
    -->

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
